* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  color: red;
}
/* MAIN */
.main_container {
  margin: auto;
  text-align: center;
  width: 400px;
  background-color: azure;
}

/* FOOTER */

.footer {
  padding-top: 20px;
  width: 100px;
}
